{% extends 'layout.html' %}
{% load static from staticfiles %}
{% block content %}
    {% for user in results %}
        {{ user.username }}
    {% endfor %}
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Moon Property API Endpoints</h1>
          <p class="lead text-muted">
              Y'ello. I ain't feeling that well today. So I couldn't do a proper API documentation.
              I will try and make this a little more descriptive and self-explanatory. This is Moon Property Rest API.
              An API for the creation a user account, signing in, viewing all list of properties, searching for specific
              items with certain parameters, adding properties and also viewing properties. Pretty cool right! :)
          </p>
{#          <p>#}
{#            <a href="#" class="btn btn-primary my-2">Main call to action</a>#}
{#            <a href="#" class="btn btn-secondary my-2">Secondary action</a>#}
{#          </p>#}
        </div>
          <h4 class="jumbotron-heading">BASE URL</h4>
          All API request must have <code>Content-Type</code> header as <code>application/json</code> and must use the
          base URL <code>http://{ host }/api/{ endpoint }/</code>
          <p>
          <h4 class="jumbotron-heading">AUTHORIZATION</h4>
          Authorization (on all endpoints) is done through JSON Web Token Authorization (JWT Auth). After successful creation of a user account (object), you can obtain a JWT by hitting the endpoint <code>http://{host}/auth/obtain_token/</code>, and providing valid authentication details. Each token is valid for 24 hours by which time the user account (object) would not have such permissions (described to an endpoint) to use this API.

            <code>Authorization: JWT {token}</code>

            Let's say your toke is <strong>gfhvbjkjhfghb</strong>, a <strong>CURL</strong> request for authorization is shown below
            <p>
            <code>  curl -X POST -H "Authorization: JWT gfhvbjkjhfghb" -H "Content-Type: application/json" http://{host}/api//{endpoint}/</code>

            A <strong>Postman</strong> request for authorization is shown below<br>
            <p>Under the <strong>Headers</strong> tab of a request:</p>
            <strong>Key</strong> = <code>Authorization</code>
            <strong>Value</strong> = <code>JWT gfhvbjkjhfghb</code>
            <p>
            <h3>Permissions</h3>

            Each endpoint has specific user permissions ie Anonymous, or General Permissions. Anonymous permissions are
          assigned where endpoints should be accessible without restrictions. General Permissions are assigned where endpoints
          demand that a user has is authenticated and of user type 'Mobile User' privileges to access success response from that endpoint.
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
              <div class="row">
                  <h3 class="jumbotron-heading">Creating a User Account</h3><br>
                  The process of signup takes an email, first name, last name, phone number and password as required field. The username and email fields are unique fields.
                  The password takes character of any length with no constraints or restrictions. The email has to be a valid
                  email of a correct email format as <em>example@email.com</em>. Other fields include, first name, and last name.
                  Read only fields are last login, date joined and id.
              </div>
            <hr>
            <p><h5 class="jumbotron-heading">POST</h5> <a href="{% url 'users:signup' %}">https://{host}/api/users/signup/</a>
            <br>This request creates a new user.
            <br><br><h6>Success Response</h6>
            Status code <code>201 Created</code>
            <br>Response <code>Success</code>
            <br><br><h6>Failure Response</h6>
            Status code <code>400 Bad Request</code>
            <br>Response <code>Failure</code> Email already exist.
            <hr>
            <strong class="small">Fields</strong>
            <div class="table-responsive">
                <table class="table table-striped" id="data-table-basic" >
                    <thead>
                    <tr><th>Name</th><th>Type</th><th>Description</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>email</td>
                            <td>email</td>
                            <td>Required Field</td>
                        </tr>
                        <tr>
                            <td>first_name</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>last_name</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>phone_number</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>password</td>
                            <td>password</td>
                            <td>Required Field</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <p><h5 class="jumbotron-heading">POST</h5> <pre><code><a href="{% url 'users:login' %}">https://{host}/api/users/login/</a></code></pre>
            <br>This request log a user in. A JWT token is generated for the user to access other endpoints which requires JWT Authorization
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <br><br><h6>Failure Response</h6>
            Status code <code>400 Bad Request</code>
            <br>Response <code>Failure</code> Credential do not match or user is not active.
            <br>Response <code>Failure</code> Email does not exist.
            <hr>
            <strong class="small">Fields</strong>
            <div class="table-responsive">
                <table class="table table-striped" id="data-table-basic" >
                    <thead>
                    <tr><th>Name</th><th>Type</th><th>Description</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>email</td>
                            <td>email</td>
                            <td>Required Field</td>
                        </tr>
                        <tr>
                            <td>password</td>
                            <td>password</td>
                            <td>Required Field</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            Example Request
            <pre>
                <code>
                    {
                            "email": "email@example.com",
                            "password": "password"
                    }
                </code>
            </pre>

            Response - Success
            <pre>
                <code>
                        {
                            "results": {
                                "token": {
                                    "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.e"
                                },
                                "id": 1,
                                "full_name": "John Doe",
                                "username": "john.doe",
                                "date_of_birth": null,
                                "user_type": "Mobile User",
                                "phone_number": null,
                                "date_joined": "2019-03-03T19:54:49Z"
                            },
                            "response": "success"
                        }
                </code>
            </pre>
            <hr>
            <p><h5 class="jumbotron-heading">GET</h5> <pre><code><a href="{% url 'users:detail' 1 %}">https://{host}/api/users/detail/{id}/</a></code></pre>
            <br>This request displays details of a user.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br><br><h6>Failure Response</h6>
            Status code <code>400 Bad Request</code>
            <br>Response <code>Failure</code> Authorization Required
            Response - Success
            <br>
            <pre>
                <code>
                        {
                            {
                                "id": 1,
                                "username": "drc.alex",
                                "email": "",
                                "first_name": "Ima",
                                "last_name": "Debrah",
                                "sex": null,
                                "sex_display": null,
                                "date_of_birth": null,
                                "is_active": true,
                                "user_type": "MOU",
                                "user_type_display": "Mobile User",
                                "user_profile": null,
                                "date_joined": "2019-03-03T19:54:49Z",
                                "last_login": "2019-03-15T20:19:12.716042Z",
                                "full_name": "Ima Debrah"
                            }
                        }
                </code>
            </pre>
            <hr>
            <div class="row">
                <h3 class="jumbotron-heading">Creating a Company</h3><br>
                A company is setup for either a agency or an Property Owner. This enables a user to enlist their property
                in the system. This process takes business name, business type, address, phone number, and registration number as fields.
                When a company is created, it is active by default and the creator of the company is stored too. These fields are
                hidden fields. Read only fields are created at, created by, and id.
            </div>
            <hr>
            <p><h5 class="jumbotron-heading">POST</h5> <pre><code><a href="{% url 'company:create' %}">https://{host}/api/company/create/</a></code></pre>
            <br>This request creates a new company.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>201 Created</code>
            <br>Response <code>Success</code>
            <br><br><h6>Failure Response</h6>
            Status code <code>400 Bad Request</code>
            <br>Response <code>Failure</code> User already has a company account.
            <hr>
            <strong class="small">Fields</strong>
            <div class="table-responsive">
                <table class="table table-striped" id="data-table-basic" >
                    <thead>
                    <tr><th>Name</th><th>Type</th><th>Description</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>business_name</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>business_type</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>address</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>phone_number</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>registration_number</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>tin_number</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            Example Request
            <pre>
                <code>
                    {
                            "business_name": "Abrantie Agency",
                            "business_type": "Agency",
                            "business_logo": "logo_dir",
                            "address": "Kasoa",
                            "phone_number": "0241234567",
                            "registration_number": "8765434567",
                            "tin_number": "45678765"
                    }
                </code>
            </pre>

            Response - Success
            <pre>
                <code>
                    {
                            "results": {
                                "business_name": "Abrantie Agency",
                                "business_type": "Agency",
                                "business_logo": "logo_dir",
                                "address": "Kasoa",
                                "phone_number": "0241234567",
                                "registration_number": "8765434567",
                                "tin_number": "45678765"
                            },
                            "response" : "Success"
                    }
                </code>
            </pre>
            <hr>
            <p><h5 class="jumbotron-heading">GET</h5> <pre><code><a href="{% url 'company:detail' %}">https://{host}/api/company/detail/</a></code></pre>
            <br>This request displays details of a company created by a user..
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <br><br><h6>Failure Response</h6>
            Status code <code>201 BAD REQUEST</code>
            <br>Response <code>Failure</code> User does not have a company setup.
            Response - Success
            <pre>
                <code>
                        {
                            "results": [
                                {
                                    "id": 1,
                                    "business_type": "Agency",
                                    "business_name": "Corlenius",
                                    "business_logo": null,
                                    "address": "Kasoa",
                                    "phone_number": "0987654",
                                    "registration_number": "678",
                                    "tin_number": null,
                                    "is_active": true,
                                    "created_at": "2019-03-04T12:13:35Z",
                                    "created_by": "Ima Debrah"
                                }
                            ],
                            "response": "Success"
                        }
                </code>
            </pre>
            <hr>
            <div class="row">
                <h3 class="jumbotron-heading">Creating a Property</h3><br>
                A property is either a land, an apartment, a shop, a house or an office outlet. A user with a company is allowed to create a property
                usder that company. To this effect, there are five different forms, one for each of the type of property.
                Each of these forms have different for fields that require different form data. When a property is created, it is active by default and the creator of the property is stored too. These fields are
                hidden fields. Read only fields are created at, created by, and id.
            </div>
            <div class="row">
                <h4 class="jumbotron-heading">Creating a Land Property</h4><br>
                This process takes location, title, description, price, is for sale, is for rent, size, landmark, land type,
                rent duration, rent advance, is negotiable, photo as fields.
                When a property is created, it is active by default and the creator of the property is stored too. These fields are
                hidden fields. Read only fields are created at, created by, and id.
            </div>
            <hr>
            <p><h5 class="jumbotron-heading">POST</h5> <a href="{% url 'property:land-create' %}">https://{host}/api/property/land/create/</a>
            <br>This request creates a new land property.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>201 Created</code>
            <br>Response <code>Success</code>
            <br><br><h6>Failure Response</h6>
            Status code <code>400 Bad Request</code>
            <br>Response <code>Failure</code> Setup a company profile before creating this property.
            <hr>
            <strong class="small">Fields</strong>
            <div class="table-responsive">
                <table class="table table-striped" id="data-table-basic" >
                    <thead>
                    <tr><th>Name</th><th>Type</th><th>Description</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>location</td>
                            <td>dropdown of all communities in accra</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>title</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>description</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>price</td>
                            <td>number</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>for_rent</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>for_sale</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>size</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>unit</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>landmark</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>land_type</td>
                            <td>dropdown</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>rent_duration</td>
                            <td>dropdown</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>rent_advance</td>
                            <td>dropdown</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>is_negotiable</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>photo</td>
                            <td>file</td>
                            <td>Optional Field</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:land-list' %}">https://{host}/api/property/land/list/</a>
            <br>This request displays all active land properties.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <hr>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:land-rent-list' %}">https://{host}/api/property/land/rent/list/</a>
            <br>This request displays all active land properties for rent.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <hr>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:land-sale-list' %}">https://{host}/api/property/land/sale/list/</a>
            <br>This request displays all active land properties for sale.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <hr>
            <div class="row">
                <h4 class="jumbotron-heading">Creating a House Property</h4><br>
                This process takes location, title, description, price, is for sale, is for rent, has compound, landmark, has washroom,
                rent duration, rent advance, is_broker, is_furnished, bedrooms, washroom, is negotiable, photo as fields.
                When a property is created, it is active by default and the creator of the property is stored too. These fields are
                hidden fields. Read only fields are created at, created by, and id.
            </div>
            <hr>
            <p><h5 class="jumbotron-heading">POST</h5> <a href="{% url 'property:house-create' %}">https://{host}/api/property/house/create/</a>
            <br>This request creates a new house property.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>201 Created</code>
            <br>Response <code>Success</code>
            <br><br><h6>Failure Response</h6>
            Status code <code>400 Bad Request</code>
            <br>Response <code>Failure</code> Setup a company profile before creating this property.
            <hr>
            <strong class="small">Fields</strong>
            <div class="table-responsive">
                <table class="table table-striped" id="data-table-basic" >
                    <thead>
                    <tr><th>Name</th><th>Type</th><th>Description</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>location</td>
                            <td>dropdown of all communities in accra</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>title</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>description</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>price</td>
                            <td>number</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>for_rent</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>for_sale</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>is_compound</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>has_washroom</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>landmark</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>bedrooms</td>
                            <td>number</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>washroom</td>
                            <td>number</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>rent_duration</td>
                            <td>dropdown</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>rent_advance</td>
                            <td>dropdown</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>is_furnished</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>is_broker</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>is_negotiable</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>photo</td>
                            <td>file</td>
                            <td>Optional Field</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:house-list' %}">https://{host}/api/property/house/list/</a>
            <br>This request displays all active house properties.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <hr>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:house-rent-list' %}">https://{host}/api/property/house/rent/list/</a>
            <br>This request displays all active house properties for rent.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <hr>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:house-sale-list' %}">https://{host}/api/property/house/sale/list/</a>
            <br>This request displays all active house properties for sale.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <hr>
            <div class="row">
                <h4 class="jumbotron-heading">Creating an Office Property</h4><br>
                This process takes location, title, description, price, is for sale, is for rent, has compound, landmark, has washroom,
                rent duration, rent advance, is_broker, is_furnished, bedrooms, washroom, is negotiable, photo as fields.
                When a property is created, it is active by default and the creator of the property is stored too. These fields are
                hidden fields. Read only fields are created at, created by, and id.
            </div>
            <hr>
            <p><h5 class="jumbotron-heading">POST</h5> <a href="{% url 'property:office-create' %}">https://{host}/api/property/office/create/</a>
            <br>This request creates a new office property.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>201 Created</code>
            <br>Response <code>Success</code>
            <br><br><h6>Failure Response</h6>
            Status code <code>400 Bad Request</code>
            <br>Response <code>Failure</code> Setup a company profile before creating this property.
            <hr>
            <strong class="small">Fields</strong>
            <div class="table-responsive">
                <table class="table table-striped" id="data-table-basic" >
                    <thead>
                    <tr><th>Name</th><th>Type</th><th>Description</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>location</td>
                            <td>dropdown of all communities in accra</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>title</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>description</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>price</td>
                            <td>number</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>for_rent</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>for_sale</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>is_compound</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>has_washroom</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>landmark</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>bedrooms</td>
                            <td>number</td>
                            <td>Optional Field (A holder for number of office rooms)</td>
                        </tr>
                        <tr>
                            <td>rent_duration</td>
                            <td>dropdown</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>rent_advance</td>
                            <td>dropdown</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>is_furnished</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>is_broker</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>is_negotiable</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>photo</td>
                            <td>file</td>
                            <td>Optional Field</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:office-list' %}">https://{host}/api/property/office/list/</a>
            <br>This request displays all active office properties.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <hr>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:office-rent-list' %}">https://{host}/api/property/office/rent/list/</a>
            <br>This request displays all active office properties for rent.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <hr>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:office-sale-list' %}">https://{host}/api/property/office/sale/list/</a>
            <br>This request displays all active office properties for sale.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <hr>
            <div class="row">
                <h4 class="jumbotron-heading">Creating an Shop Property</h4><br>
                This process takes location, title, description, price, is for sale, is for rent, has compound, landmark, has washroom,
                rent duration, rent advance, is_broker, is_furnished, bedrooms, washroom, is negotiable, photo as fields.
                When a property is created, it is active by default and the creator of the property is stored too. These fields are
                hidden fields. Read only fields are created at, created by, and id.
            </div>
            <hr>
            <p><h5 class="jumbotron-heading">POST</h5> <a href="{% url 'property:shop-create' %}">https://{host}/api/property/shop/create/</a>
            <br>This request creates a new shop property.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>201 Created</code>
            <br>Response <code>Success</code>
            <br><br><h6>Failure Response</h6>
            Status code <code>400 Bad Request</code>
            <br>Response <code>Failure</code> Setup a company profile before creating this property.
            <hr>
            <strong class="small">Fields</strong>
            <div class="table-responsive">
                <table class="table table-striped" id="data-table-basic" >
                    <thead>
                    <tr><th>Name</th><th>Type</th><th>Description</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>location</td>
                            <td>dropdown of all communities in accra</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>title</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>description</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>price</td>
                            <td>number</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>for_rent</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>for_sale</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>landmark</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>rent_duration</td>
                            <td>dropdown</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>rent_advance</td>
                            <td>dropdown</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>is_broker</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>is_negotiable</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>photo</td>
                            <td>file</td>
                            <td>Optional Field</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:shop-list' %}">https://{host}/api/property/shop/list/</a>
            <br>This request displays all active shop properties.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <hr>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:shop-rent-list' %}">https://{host}/api/property/shop/rent/list/</a>
            <br>This request displays all active shop properties for rent.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <hr>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:shop-sale-list' %}">https://{host}/api/property/shop/sale/list/</a>
            <br>This request displays all active shop properties for sale.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <hr>
            <div class="row">
                <h4 class="jumbotron-heading">Creating an Apartment Property</h4><br>
                This process takes location, title, description, price, is for sale, is for rent, has compound, landmark, has washroom,
                rent duration, rent advance, is_broker, is_furnished, bedrooms, washroom, is negotiable, photo as fields.
                When a property is created, it is active by default and the creator of the property is stored too. These fields are
                hidden fields. Read only fields are created at, created by, and id.
            </div>
            <hr>
            <p><h5 class="jumbotron-heading">POST</h5> <a href="{% url 'property:apartment-create' %}">https://{host}/api/property/apartment/create/</a>
            <br>This request creates a new apartment property.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>201 Created</code>
            <br>Response <code>Success</code>
            <br><br><h6>Failure Response</h6>
            Status code <code>400 Bad Request</code>
            <br>Response <code>Failure</code> Setup a company profile before creating this property.
            <hr>
            <strong class="small">Fields</strong>
            <div class="table-responsive">
                <table class="table table-striped" id="data-table-basic" >
                    <thead>
                    <tr><th>Name</th><th>Type</th><th>Description</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>location</td>
                            <td>dropdown of all communities in accra</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>title</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>description</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>price</td>
                            <td>number</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>for_rent</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>for_sale</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>landmark</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>is_compound</td>
                            <td>boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>has_washroom</td>
                            <td>boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>is_furnished</td>
                            <td>boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>bedrooms</td>
                            <td>number</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>washroom</td>
                            <td>number</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>rent_duration</td>
                            <td>dropdown</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>rent_advance</td>
                            <td>dropdown</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>is_broker</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>is_negotiable</td>
                            <td>Boolean</td>
                            <td>Optional Field</td>
                        </tr>
                        <tr>
                            <td>photo</td>
                            <td>file</td>
                            <td>Optional Field</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:apartment-list' %}">https://{host}/api/property/apartment/list/</a>
            <br>This request displays all active apartment properties.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <hr>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:apartment-rent-list' %}">https://{host}/api/property/apartment/rent/list/</a>
            <br>This request displays all active apartment properties for rent.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <hr>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:apartment-sale-list' %}">https://{host}/api/property/apartment/sale/list/</a>
            <br>This request displays all active apartment properties for sale.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <hr>
            <p><h5 class="jumbotron-heading">POST</h5> <a href="{% url 'property:search' %}">https://{host}/api/property/search/</a>
            <br>This request searches for properties with attributes title, property_type, and location of a property. It displays a
            response of properties that matches the query of the request.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <br><br><h6>Failure Response</h6>
            Status code <code>400 Bad Request</code>
            <br>Response <code>Failure</code> Your search was not found
            <br>Response <code>Failure</code> Search Text is empty
            <hr>
            <strong class="small">Fields</strong>
            <div class="table-responsive">
                <table class="table table-striped" id="data-table-basic" >
                    <thead>
                    <tr><th>Name</th><th>Type</th><th>Description</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>search</td>
                            <td>text</td>
                            <td>Optional Field</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:list' %}">https://{host}/api/property/list/</a>
            <br>This request displays all active properties.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <br> Response - Success
            <pre>
                <code>
                    [
                        {
                            "id": 1,
                            "property_type": "apart",
                            "property_type_display": "Apartment",
                            "location": "Dzorwulu",
                            "location_display": "Dzorwulu",
                            "description": "Nice apartmenr for sale",
                            "title": "3 Bedroom Apartment for sale",
                            "is_broker": false,
                            "is_active": true,
                            "price": "50.00",
                            "is_furnished": true,
                            "has_washroom": true,
                            "is_compound": true,
                            "size": null,
                            "is_negotiable": true,
                            "is_for_sale": true,
                            "is_sold": false,
                            "is_for_rent": false,
                            "is_rented": false,
                            "rent_duration": null,
                            "rent_duration_display": null,
                            "rent_advance": null,
                            "rent_advance_display": null,
                            "land_type": null,
                            "land_type_display": null,
                            "unit": null,
                            "landmark": "Fan milk",
                            "bedrooms": 3,
                            "washroom": 2,
                            "photo": "http://moon-property-api.herokuapp.com/media/ovpic.jpg",
                            "created_at": "2019-03-06T14:05:18Z",
                            "created_by": "Obolo Estate"
                        }
                    ]
                </code>
            </pre>
            <hr>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:detail' 1 %}">https://{host}/api/property/detail/{id}/</a>
            <br>This request displays details of a property.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <hr>
            <p><h5 class="jumbotron-heading">GET</h5> <a href="{% url 'property:company-properties' %}">https://{host}/api/property/company/properties/</a>
            <br>This request displays all properties of a user's company.
            <br><br><h6>Permission</h6>
             <code>Authorization</code>
            <br><br><h6>Success Response</h6>
            Status code <code>200 OK</code>
            <br>Response <code>Success</code>
            <hr>
        </div>
      </div>

    </main>
{% endblock %}